<appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
        <url>http://localhost:3100/loki/api/v1/push</url>
    </http>
    <format>
        <label>
            <pattern>service=${spring.application.name},level=%level</pattern>
        </label>
        <message>
            <pattern>{"timestamp":"%d{ISO8601}","level":"%level","thread":"%thread","class":"%logger{36}","message":"%msg","traceId":"%X{traceId}","spanId":"%X{spanId}"}</pattern>
        </message>
    </format>
</appender>