spring:
  application:
    name: loans

  profiles:
    active: dev

  config:
    import: "optional:configserver:http://localhost:8888/"

management:
  tracing:
    enabled: true
    sampling:
      probability: 1